[submodule "core/third-party/nlohmann/json"]
	path = core/third-party/nlohmann/json
	url = https://github.com/nlohmann/json.git
[submodule "core/third-party/pugixml"]
	path = core/third-party/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "core/third-party/xerces"]
	path = core/third-party/xerces
	url = https://github.com/AaronNGray/xerces.git

[submodule "core/third-party/tomlplusplus"]
	path = core/third-party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
